<h3>Concerts de l'artiste X</h3>
<div class="row">

    <google-map [center]="center" [zoom]="zoom" width="700" height="300">
        <map-marker *ngFor="let marker of markerPositions" [position]="marker"></map-marker>
    </google-map>

    <div class="shows">

         <!-- Liste des concerts -->
        <div *ngFor="let concert of concerts">
            <h4>{{concert.date}}</h4>
            <p>{{concert.pays}}</p>
            <p>{{concert.ville}}</p>
        </div>

    </div>           

</div>