<div class="row">
    <div class="albums">
        <h3 translate [translateParams]="{x: artistName}">albums.nomArtiste</h3>
        <div class="row">
            <!-- Liste d'albums d'un artiste choisi -->
            <div *ngFor="let album of albums">
                <h4>{{album.title}}</h4>
                <img src="{{album.image}}" alt="{{album.title}}">
                <button [routerLink]="['/chansons', album.id, artistName]" translate>albums.chansons</button>
            </div>
        </div>
    </div>
</div>
