<header>
    <div class="row">
        <div><a href="artist.html" translate>app.template</a></div>
        <div class="spacer"></div>
        <div>
            <select #lang (change)="changeLanguage(lang.value)" name="language" id="language">
                <option value="fr">Français</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
    <div translate>
        app.droits
    </div>
</footer>
